body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffcc00;
}

header {
  text-align: center;
  padding: 10px;
}

header img {
  max-width: 17%;
  height: auto;
}

.details {
  width: 100%; /* Modificado para ocupar toda la anchura */
  margin: 0 auto; /* Centrar el contenedor en la página */
  padding: 10px; 
  text-align: center;
}

.details {
  width: 100%;
  margin: 6px auto; /* Ajusta el espacio superior según sea necesario */
  text-align: center;
}

.details-container {
  padding: 20px; /* Ajusta según sea necesario */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
}

.common-btn {
  padding: 15px 0;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.back-btn {
  background-color: #ff0000;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 3vw;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  display: inline-block;
  width: 60%;
  max-width: 200px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  margin-top: 90x; 
}

.add-to-cart-button {
  background-color: #ff0000;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.salir-to-cart-button {
  background-color: #ff0000;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}